<h2>Cines</h2>
<button mat-flat-button color="primary" routerLink="/cines/crear">Crear nuevo</button> 

<div *ngIf="cines">
    <table #table mat-table [dataSource]="cines" class="mat-elevation-z8 tabla-indice">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="/cines/editar/{{element.id}}" mat-flat-button color="primary">Editar</a>
                <button mat-flat-button color="warn" [swal]="{title: 'Confirmacion', text: 'Esta seguro que desea eliminar el registro?', showCancelButton: true, confirmButtonColor: '#3F51B5', cancelButtonText: 'Cancelar'}" (confirm)="eliminarCine(element.id)">Borrar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons [length]="cantidadTotalRegistros" [pageSize]="cantidadRegistrosAMostrar" (page)="actualizarPaginacion($event)" class="mat-elevation-z8">

    </mat-paginator>
</div>
<ng-container *ngIf="cines && cines.length == 0">
    No hay generos para mostrar
</ng-container>